nav{
    position:fixed;
    top: 0;
    left:0;
    display: initial;
    z-index: 2;
    background-color: black;
    width: 100%;
    
  }

li{
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    color: white;
    border: solid 1px rgb(255, 249, 249);
    border-radius: 16px;
    font-size: 14px;
}
h1{
    margin-top: 100px;
    font-size: 50px;
    margin-left: 2%;
    border-bottom: black 1px solid;
    border-bottom-right-radius: 5px;
}

body{
    font-family: 'Vollkorn', serif;
}

.subHeader{
    font-size: 28px;
    font-style: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.primaryContent{
    /* margin-top: 50px; */
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    text-indent:40px;
    line-height:30px;
}

.technologyUsed{
    text-align:center;
}

img {
    display:block;
    max-width:85%;
    height:auto;
    margin-right: auto;
    margin-left: auto;
    border: 1px pink solid;
}

.projects{
    font-size: 32px;
    font-style: bold;
    text-align: center;
    border-bottom: 1px black solid;
    margin-left: 10px;
    margin-right: 10px;
}

.projectTitle{
    text-align:left;
    margin-top: 40px;
    font-size:34px;

}
.outerColumn{
    display: none;
}

@media screen and (min-width: 600px) {
    body{
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        text-align: center;
    }
    .contentContainer{
        display: flex;
        justify-content: space-between;
    }
    
    .outerColumn{
        display:flex;
        flex-direction: column;
        justify-content:space-around;
    }

    .imageText{
        text-align: center;
    }
}